.section-booking{
  padding: 15rem  10rem ;
  background-image: linear-gradient( to right bottom, #7ed567, #28b495);
  margin-top:-250px;


}
.book{
  background-image: linear-gradient(105deg,rgba(255,255,255,.9) 50%, transparent 50%),url(../images/net5.jpg)
  
  
  
  
  
  ;
  background-size: 100%;
  border-radius: 3px;
  height: 28rem;
  border-radius: 3px;
  box-shadow: 0 1rem 2rem  rgba( 0,0,0, .2);
}
.book-form{
  width: 60%;
  padding: 2rem;
}
.form-group :not(:last-child){
  margin-bottom: .7rem;

}
.form-name input{
  font-size: .9rem;
  padding: .9rem  1rem;
  background-color: rgba(255,255,255,.9);
  border-radius: 2px;
  border: none;
  font-family: inherit;
  width: 80%;
  display: block;

  transition: all .3s;
}
.form-name label{
  font-size: 1rem;
  font-weight: 600;
  margin-left: .9rem;
  margin-top: .7rem;
  display: block;
  transition: all .3s;
  color: brown;
}

.form-name input:focus{
  outline: none;
  box-shadow: 0 1rem 2rem rgba( 0,0,0, .1);
  border-bottom: 3px solid green;
}
.form-name input:focus:invalid{
  border-bottom: 3px solid red;

}

.form-name input:placeholder-shown + label{
  opacity: 0;
  visibility: hidden;
  transform: translateY(-4rem);
}
